<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Exposure:</strong>
  <%= @plant.exposure %>
</p>

<p>
  <strong>Moisture:</strong>
  <%= @plant.moisture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
